@import url(../vendor/normalize.css);
@import url(../block/page/page.css);
@import url(../block/rotation/rotation.css);
@import url(../block/list/list.css);
@import url(../block/logo/logo.css);
@import url(../block/logo/_place/logo_place_header.css);
@import url(../block/logo/_place/logo_place_footer.css);

@import url(../block/header/header.css);
@import url(../block/header/__square-pic/header__square-pic.css);
@import url(../block/header/__title/header__title.css);
@import url(../block/header/__subtitle/header__subtitle.css);
@import url(../block/header/__link/header__link.css);
@import url(../block/header/__main-illustration/header__main-illustration.css);

@import url(../block/section-title/section-title.css);
@import url(../block/section-subtitle/section-subtitle.css);

@import url(../block/techniques/techniques.css);

@import url(../block/description/description.css);

@import url(../block/two-columns/two-columns.css);
@import url(../block/two-columns/__brief/two-columns__brief.css);
@import url(../block/two-columns/__main-text/two_columns__main-text.css);
@import url(../block/two-columns/__paragraph/two-columns__paragraph.css);

@import url(../block/cards/cards.css);
@import url(../block/cards/__item/cards__item.css);
@import url(../block/cards/__image/cards__image.css);
@import url(../block/cards/__title/cards__title.css);
@import url(../block/cards/__description/cards__description.css);




.two-columns__span-accent {
  font-weight: 600;
}

.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  width: 1100px;
  margin: 0 auto 100px;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0;
}

.feynman {
  position: relative;
  padding-top: 100px;
  min-height: 890px;
  background: #f2f2f2 url(../images/feynman.png) no-repeat bottom left;
  box-sizing: border-box;
}

.feynman__title {
  margin: 0 auto;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
}

.feynman__subtitle {
  margin: 70px 0 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.feynman__link::after {
  content: ' \2192';
}

.kaufman {
  position: relative;
  background-color: #1f1f1f;
  overflow: hidden;
  z-index: 1;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  z-index: -1;
}

.section-title_theme_dark {
  color: white;
  margin: 90px auto 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle_theme_dark {
  color: white;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table_theme_dark {
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
}

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  display: flex;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 60px auto 40px;
  color: white;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  /*Для чего верхний margin в брифе?*/
  margin: 18px 0;
}

.footer__column-heading {
  margin: 0 0 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  /*Для чего нижний margin указан в брифе?*/
  margin-bottom: 16px;
}

.footer__column-link {
  color: white;
  text-decoration: none;
}

.footer__social-icon {
  margin-right: 10px;
}
