.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  /*TODO delete before review*/
  /*border: red solid 1px;*/
}

.link-color {
  color: #2f80ed;
}

.text-margin-padding-reset {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

.header__title {
  display: flex;
  width: 730px;
  align-self: center;
  margin-left: 64px;
}

.header__title-font {
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  z-index: 2;
}

.header__subtitle-font {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.header__link::after {
  content: ' \2192';
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  background-size: cover;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  top: 64px;
  right: 0;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 228px;
  height: 32px;
  background-image: url('../images/logo_place_header.svg');
  z-index: 1;
}


.description {
  border: #2f80ed 1px dashed;
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-top: 100px;
}

.two-columns__brief {
  width: 175px;
}

.two-columns__title {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
  margin: 0;
  padding: 0;
}

.two_columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  min-height: 30px;
}

/*Отступы между нечетным количеством элементов в списке*/
.two-columns__list:nth-of-type(2n) {
  margin: 30px 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

.digits {
  border: #2f80ed 1px dashed;
}

.section-title {
  margin: 100px auto 0;
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.section-subtitle {
  margin: 20px auto 0;
  text-align: center;
  width: 60%;
}

.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  width: 1100px;
  margin: 0 auto 100px;
  padding: 0;
  list-style: none;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
}

.table__text:last-of-type {
  margin: 0;
}

.feynman {
  border: #2f80ed 1px dashed;
  position: relative;
  height: 890px;
  background-color: #f2f2f2;;
}
.feynman__title {
  margin: 100px auto 70px;
  width: 648px;
}

.feynman__title-font {
  position: relative;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  z-index: 1;
}

.feynman__subtitle {
  display: flex;
  justify-content: center;
}
.feynman__subtitle-font {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.feynman__main-illustration {
  position: absolute;
  width: 867px;
  height: 637px;
  left: 0;
  bottom: 0;
  background-image: url('../images/feynman.png');
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link::after {
  content: ' \2192';
}

.kaufman {
  border: #2f80ed 1px dashed;
}
