.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  z-index: 1;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);
}

.header__title {
  width: 730px;
  align-self: center;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  margin: 0 0 0 64px;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__link::after {
  content: ' \2192';
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: -1;
}

.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  top: 64px;
  right: 0;
  z-index: -2;
}

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-top: 100px;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
}

.two_columns__main-text {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
  gap: 30px;
}

.two-columns__paragraph {
  margin: 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  min-height: 30px;

}

.two-columns__span-accent {
  font-weight: 600;
}

.section-title {
  margin: 100px auto 0;
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  margin: 20px auto 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
}

.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  width: 1100px;
  margin: 0 auto 100px;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0;
}

.feynman {
  position: relative;
  padding-top: 100px;
  min-height: 890px;
  background: #f2f2f2 url(../images/feynman.png) no-repeat bottom left;
  box-sizing: border-box;
}

.feynman__title {
  margin: 0 auto;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
}

.feynman__subtitle {
  margin: 70px 0 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.feynman__link::after {
  content: ' \2192';
}

.kaufman {
  position: relative;
  background-color: #1f1f1f;
  overflow: hidden;
  z-index: 1;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  z-index: -1;
}

.section-title_theme_dark {
  color: white;
  margin: 90px auto 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle_theme_dark {
  color: white;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table_theme_dark {
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
}

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  display: flex;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 60px auto 40px;
  color: white;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
  align-items: flex-start;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  /*Для чего верхний margin в брифе?*/
  margin: 18px 0;
}

.footer__column-heading {
  margin: 0 0 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  /*Для чего нижний margin указан в брифе?*/
  margin-bottom: 16px;
}

.footer__column-link {
  color: white;
  text-decoration: none;
}

.footer__social-icon {
  margin-right: 10px;
}
